.panel {
  background-color: var(--color-accent);
  width: 100%;

  &--title {
    margin: .25rem 0 .25rem .5rem;
    font-size: var(--font-size-fluid-0);
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 2.5rem;
    padding-left: .5rem;
    background-color: var(--color-accent);
    line-height: 2.5rem;

    &--title {
      margin: 0;
      font-size: var(--font-size-fluid-1);
      font-weight: var(--font-weight-7);
    }
  }

  &--actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &--container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
  }

  &--list,
  &--grid {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      //display: flex;
      //align-items: center;
      padding: .5rem;
      cursor: pointer;

      &.empty {
        //@include neumorphism($color-major, $neumorphism-shape-flat);
      }
      &.active {
        background-color: var(--color-accent);
      }
    }
  }

  &--list {
    flex-direction: column;
  }

  &--grid {
    flex-direction: row;
  }
}
