//$pixelart-color-major: #343a40;
//$pixelart-color-minor: #495057;
//$pixelart-color-extra: #6c757d;
//$pixelart-color-text: #adb5bd;

$color-light: #e0e0e0;
$color-lighten: #6c757d;
$color-darken: #495057;
$color-dark: #343a40;
