@import url('https://fonts.googleapis.com/css2?family=Caveat&family=VT323&family=Stick+No+Bills:wght@300;500;600&display=swap');

@import 'variables';
@import 'reboot';

#pixelart {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100vw;
  height: 100vh;
  padding: 1rem 4rem;
  color: $pixelart-color-text;
  background-color: $pixelart-color-minor;
  font-family: 'VT323', monospace;

  h1 {
    font-family: inherit;
    font-size: 3rem;
    text-transform: uppercase;
  }

  .btn {
    height: calc(100% - 5px);
    color: inherit;
    background: $pixelart-color-major;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 2px;
    box-shadow: 0 5px #{$pixelart-color-extra};
    transition-duration: 0.1s;

    &:hover, &:focus {
      background: lighten($pixelart-color-major, 5%);
    }
    &:active {
      box-shadow: 0 1px #{$pixelart-color-extra};
      transform: translateY(4px);
    }
  }

  #container {
    &-frame,
    &-layer {
      display: grid;
      flex-grow: 1;
      grid-gap: .5rem;
      grid-template-columns: repeat(auto-fit, 5rem);
      padding: .5rem .375rem;
      background: rgba($pixelart-color-major, 0.2);

      .pixelart-canvas {
        border: 3px solid transparent;
        &.active {
          border-color: $pixelart-color-extra;
        }
      }
    }

    &-layer {
      &-helper {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        text-orientation: upright;
        writing-mode: vertical-rl;

        span {
          letter-spacing: .2rem;
        }
      }
    }
  }

  #wrapper {
    display: grid;
    flex-grow: 1;
    grid-template-rows: 6rem 6rem 1fr;
    grid-template-columns: 12rem 1fr 12rem;
    grid-gap: 1rem;

    &-editor {
      display: grid;
      place-items: center;
      grid-column: 2;
      grid-row: 3;

      .pixelart-canvas {
        background: rgba($pixelart-color-major, 15%);
      }
    }

    &-frame {
      display: flex;
      align-items: stretch;
      grid-column: 1 / 3;
      grid-row: 1;
    }

    &-layer {
      display: flex;
      align-items: stretch;
      grid-column: 1 / 3;
      grid-row: 2;
    }

    &-preview {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 3;
      grid-row: 1 / 3;
      text-align: center;
    }

    &-setting {
      grid-column: 3;
      grid-row: 3;
      background: yellow;
    }

    &-tool {
      grid-column: 1;
      grid-row: 3;
      background: green;
    }
  }
}

.pixelart {
  &-canvas {
    width: 100%;
    height: 100%;
  }
}
